<footer class="footer d-flex flex-column flex-xl-row no-gutters justify-content-between align-items-center"
    role="contentinfo">
    <ul class="no-list partner-logos order-3 order-xl-1 col-auto d-flex flex-row align-items-end">

        <li><a href="#" target="_blank"><img class="adidas-logo" src="../../../../assets/images/logo-c.jpeg"
                    alt="Adidas"></a></li>
        <li><a href="#"><img class="all-blacks-logo" src="../../../../assets/images/Newlogo2M1.png"
                    alt="All blacks"></a></li>
        <!-- <li><a href="http://www.aig.com/allblacks" target="_blank"><img class="aig-logo"
                        src="../../../../assets/images/images-aig-logo-white.svg" alt="AIG"></a></li> -->

    </ul>

    <div class="responsive-container col-auto order-1 order-xl-1">
        <ul class="no-list links useful order-1 order-xl-1">

            <li><a href="#" class="link" data-cy="footer-link">Partners</a></li>

            <li>•</li>


            <li><a href="#" class="link" data-cy="footer-link">FAQ</a></li>

            <li>•</li>


            <li><a href="#" class="link" data-cy="footer-link">About Us</a></li>

            <li>•</li>


            <li><a href="#" class="link" data-cy="footer-link">Contact Us</a></li>

            <li>•</li>


            <li><a href="#" class="link" data-cy="footer-link">Privacy Policies</a></li>


        </ul>

        <div class="d-flex d-xl-none order-2 order-xl-1">
            <ul class="social-media no-list">
                <li>
                    <a href="https://www.facebook.com/" data-cy="footer-social-fb">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" data-cy="footer-social-twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/" data-cy="footer-social-ins">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>

        </div>

        <ul class="no-list links law order-3 order-xl-1">
            <li>Copyright Bitcoin Guiders 2021</li>
        </ul>
    </div>

    <div class="d-none d-xl-flex order-2 order-xl-1">
        <ul class="social-media no-list">
            <li>
                <a href="https://www.facebook.com/" data-cy="footer-social-fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" data-cy="footer-social-twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/" data-cy="footer-social-ins">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>

    </div>
</footer>