<header class="header" role="banner">

  <div class="language-switcher">
      <label for="language-switcher" class="sr-only">Language</label>
      <div class="dropdown dropdown-sm">


          <div class="dropdown-toggle" role="button" id="language-switcher" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" tabindex="0">
              English
          </div>
          <div class="dropdown-menu" aria-labelledby="language-switcher">

              <a href="www.allblacks.html" data-lang="en_NZ" hreflang="en_NZ" class="dropdown-item">English</a>

              <a href="https://jp.allblacks.com/" class="dropdown-item">日本語</a>

              <a href="ma.html" data-lang="mi_NZ" hreflang="mi_NZ" class="dropdown-item">Te Reo</a>

          </div>
      </div>
  </div>


  <div class="links row no-gutters justify-content-between">
      <ul class="partner-logos no-list col-auto d-none d-flex flex-row align-items-end">


          <li><a class="d-block no-font-size" href="https://www.adidas.com/rugby" target="_blank"><img
                      class="adidas-logo" src="../../../../assets/images/images-adidas-logo.svg" alt="Adidas"></a></li>
          <li><a class="d-block no-font-size" href="www.allblacks.html"><img class="all-blacks-logo"
                      src="../../../../assets/images/images-allblacks-logo.svg" alt="All blacks"></a></li>


      </ul>

      <div class="col-auto d-flex justify-content-end align-items-end flex-column">
          <div class="actions d-flex align-items-center">
              <a class="search-btn" href=""><i class="fal fa-search"></i></a>

              <div class="search-box-desktop d-none d-lg-block">
                  <form class="search-form" autocomplete="off">
                      <input class="search-form-keyword search" type="text" name="Keyword" value=""
                          maxlength="200" placeholder="search allblacks.com">
                      <input type="hidden" name="start" value="0" class="search">
                      <button type="submit" class="search-submit-btn btn btn-abs">
                          <i class="fal fa-search"></i>
                      </button>
                      <button class="icon btn btn-abs">
                          <i class="fal fa-search"></i>
                      </button>
                  </form>
              </div>

              <p class="user-links only-logged-in">
                  <a href="tab.html" class="top-menu-link text-white d-none d-sm-inline-block">Team All Blacks</a>
                  <span class="mx-3 d-none d-sm-inline-block">|</span>
                  <a href="profile.html" class="profile-link top-menu-link text-white" data-cy="profile-name">
                      <i class="profile-icon fas fa-user mr-2"></i>
                      <span class="first-name"></span>
                      <span class="last-name ml-1"></span>
                  </a>
              </p>

              <a class="btn btn-sm btn-outline-dark btn-xs order-md-2 only-anonymous sign-up "
                  href="www.allblacks.html" data-cy="sign-up">Sign up</a>
              <a class="btn btn-sm btn-outline-dark btn-xs order-md-2 only-anonymous sign-in "
                  href="www.allblacks.html" data-cy="sign-in">Sign in</a>


              <!-- <a class="d-none d-md-inline-block order-md-5" href="http://www.aig.com/allblacks"
                  target="_blank"><img class="aig-logo" src="../../../../assets/images/images-aig-logo-white.svg" alt="AIG"></a> -->

          </div>
      </div>
  </div>

  <div class="search-box-mobile d-block d-lg-none">
      <form class="search-form" autocomplete="off">
          <input class="search-form-keyword search expanded" type="text" name="Keyword" value="" maxlength="200"
              placeholder="search allblacks.com">
          <input type="hidden" name="start" value="0" class="search">
          <button type="submit" class="icon btn btn-abs">
              <i class="fal fa-search"></i>
          </button>
      </form>
  </div>
  <div class="row no-gutters">
      <nav class="navigation main-navigation">
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <ul class="no-list swiper-slide">

                      <li class="current d-flex flex-row align-items-center">
                          <a href="www.allblacks.html" data-cy="header-link">
                              <span class="name">
                                  Home
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="videos.html" data-cy="header-link">
                              <span class="name">
                                  Videos
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="news.html" data-cy="header-link">
                              <span class="name">
                                  News
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="all-blacks.html" data-cy="header-link">
                              <span class="name">
                                  Teams
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="all-blacks.html" data-cy="header-link">
                              <span class="name">
                                  Fixtures &amp; Results
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="https://www.allblackshop.com" target="_blank" data-cy="header-link">
                              <span class="name">
                                  Shop
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="tickets.html" data-cy="header-link">
                              <span class="name">
                                  Tickets
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="partners.html" data-cy="header-link">
                              <span class="name">
                                  Partners
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="tab.html" data-cy="header-link">
                              <span class="name">
                                  Team All Blacks
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                      <li class="link d-flex flex-row align-items-center">
                          <a href="http://stats.allblacks.com/" target="_blank" data-cy="header-link">
                              <span class="name">
                                  Stats
                                  <span class="underline"></span>
                              </span>
                          </a>
                      </li>

                  </ul>
              </div>
              <div class="gradient gradient-start fade"><i class="fal fa-angle-left"></i></div>
              <div class="gradient gradient-end fade"><i class="fal fa-angle-right"></i></div>
          </div>
      </nav>

  </div>
</header>

