<!-- <body class="HomePage homepage--home no-sidebar">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</body> -->


<router-outlet></router-outlet>



<!-- <div class="element propellerhead__rugby__elements__promobladelist" id="e547">
        <div id="promo-blade-block" class="section row">
          <div class="wrapper">
            <div class="head">
              <h4 class="block-title">New Promo Blade List</h4>
            </div>
          </div>
        </div>
      </div> -->