<main class="main" role="main">


  <div class="element dnadesign__elemental__models__elementcontent" id="e593">
    <div class="content-element__content">

      <div class="element propellerhead__rugby__elements__calltoactionblock">
        <div class="section">
          <div class="wrapper">
            <h2>2021 All Blacks Tickets</h2>
            <p>Unfortunately due to ongoing issues with Covid-19, the All Blacks Test matches in the
              Fortinet Rugby Championship against South Africa at Forsyth Barr Stadium on the 25th of
              September and Eden Park on the 2nd of October has been cancelled. The decision follows
              advice from Government that the Springboks would not be able to enter New Zealand to
              play the matches due to COVID-19 travel restrictions. Ticketek or Ticketmaster will be
              in contact with you regarding any refunds.</p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="element propellerhead__rugby__elements__heroblock" id="e27">
    <section id="hero" class="section row" data-cy="latest-news">
      <div class="wrapper">

        <div class="left-col">
          <div class="featured">


            <a href="new-zealand-rugby-announce-major-global-partnership-with-altrad.html" class="main-article"
              data-cy="article">
              <div class="img full-profile-image">
                <img src="../../../../assets/images/Uploads-All-Blacks-ALTRAD__FocusFillWzc4MCw1NzAsIngiLDld.jpg"
                  alt="All Blacks ALTRAD">

              </div>
              <div class="info">
                <h1 class="title">NZ Rugby announce major global partnership with Altrad </h1>
                <h4 class="blurb">New Zealand Rugby (NZR) has announced a major partnership with
                  Altrad to become…</h4>
                <p class="time time-ago mt-auto">
                  <time moment datetime="2021-08-27 18:25:03"></time>
                </p>
                <button class="btn btn-lg btn-primary">Read More</button>
              </div>
            </a>


          </div>
        </div>

        <div class="right-col">
          <div class="head">
            <h4>LATEST NEWS</h4>
            <a href="year.html" data-cy="viewAll">View all <i class="fal fa-angle-right"></i></a>
          </div>

          <div class="articles-list only-mobile-slider slider-fade">
            <div class="inner w-100">

              <a href="fortinet-rugby-championship-times-and-referees-confirmed.html" class="slide primary"
                data-cy="article">
                <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1334194604__ScaleHeightWzI4MF0.jpg);
                               background-position: % %;
                               background-size: cover;">
                </div>
                <div class="info">
                  <div class="title">Fortinet Rugby Championship times and referees confirmed
                  </div>
                  <div class="blurb">Following the recent announcements on the rescheduled
                    Fortinet Rugby…</div>
                </div>

                <p class="time time-ago">
                  <time moment datetime="2021-08-27 15:52:06"></time>
                </p>
              </a>

              <a href="te-toiroa-tahuriorangi-joins-crusaders-roster-for-2022-season.html" class="slide primary"
                data-cy="article">
                <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1315619742__ScaleHeightWzI4MF0.jpg);
                               background-position: % %;
                               background-size: cover;">
                </div>
                <div class="info">
                  <div class="title">Te Toiroa Tahuriorangi joins Crusaders roster for 2022 season
                  </div>
                  <div class="blurb">Former Chiefs halfback, Te Toiroa Tahuriorangi, is set to
                    join the Crusaders…</div>
                </div>

                <p class="time time-ago">
                  <time moment datetime="2021-08-27 12:59:42"></time>
                </p>
              </a>



              <a href="all-blacks-embark-on-a-tour-like-no-other.html" class="slide secondary" data-cy="article">
                <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1333302215-v2__ScaleHeightWzI4MF0.jpg);
                               background-position: % %;
                               background-size: cover;">
                </div>

                <div class="info">
                  <div class="title">All Blacks embark on a tour like no other</div>
                  <div class="blurb">Embarking on what he described as a tour like no other in the
                    professional era…</div>
                </div>
                <p class="time time-ago">
                  <time moment datetime="2021-08-27 11:47:12"></time>
                </p>
              </a>

              <a href="change-at-the-helm-for-black-ferns-sevens.html" class="slide secondary" data-cy="article">
                <div class="img" style="background-image:url(/assets/Uploads/2O9A4365__ScaleHeightWzI4MF0.jpg);
                               background-position: % %;
                               background-size: cover;">
                </div>

                <div class="info">
                  <div class="title">Change at the helm for Black Ferns Sevens</div>
                  <div class="blurb">After 10 years involved in the Black Ferns Sevens programme,
                    the gold-medal…</div>
                </div>
                <p class="time time-ago">
                  <time moment datetime="2021-08-27 11:05:02"></time>
                </p>
              </a>

              <a href="details-confirmed-for-third-australia-test-in-perth.html" class="slide secondary"
                data-cy="article">
                <div class="img" style="background-image:url(/assets/Uploads/Ardie-Sanzaar__ScaleHeightWzI4MF0.jpg);
                               background-position: % %;
                               background-size: cover;">
                </div>

                <div class="info">
                  <div class="title">Details confirmed for third Australia Test in Perth</div>
                  <div class="blurb">SANZAAR has confirmed that the second-round match of the
                    Fortinet Rugby…</div>
                </div>
                <p class="time time-ago">
                  <time moment datetime="2021-08-26 19:13:33"></time>
                </p>
              </a>

            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


  <div class="element propellerhead__rugby__elements__videosblock" id="e58">

    <section id="latest-videos" class="section row slider-section">
      <div class="wrapper">
        <div class="head">

          <h4>Latest Videos</h4>

          <a href="year.html">View all<i class="fal fa-angle-right"></i></a>

        </div>

        <div class="videos-list slider-fade">
          <div class="inner">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <ng-container *ngFor="let slide of slides">
                <div ngxSlickItem>
                  <!-- <img src="{{ slide.img }}" alt=""> -->
                  <app-slider-card></app-slider-card>
                </div>
              </ng-container>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="element propellerhead__rugby__elements__newsblock" id="e73">
    <section id="news-block" class="section row slider-section">
      <div class="wrapper">
        <div class="head">
          <h4>Latest News</h4>
          <a href="year.html">View all<i class="fal fa-angle-right"></i></a>
        </div>
        <div class="news-list">
          <div class="inner">
            <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="">
              </div>
            </ngx-slick-carousel> -->

            <!-- <div class="news-wrapper slide">
              <a href="new-zealand-rugby-announce-major-global-partnership-with-altrad.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/All-Blacks-ALTRAD__ScaleHeightWzI2MF0.jpg);
                                       background-position: 44% 39%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">NZ Rugby announce major global partnership with Altrad
                    </div>
                    <div class="description">New Zealand Rugby (NZR) has announced a major
                      partnership with Altrad to become the Official Front of Jersey sponsor
                      to the All Blacks and Black Ferns from 2022.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-27 18:25:03"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="fortinet-rugby-championship-times-and-referees-confirmed.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1334194604__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 41%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Fortinet Rugby Championship times and referees confirmed
                    </div>
                    <div class="description">Following the recent announcements on the
                      rescheduled Fortinet Rugby Championship tournament match schedule,
                      SANZAAR can now confirm the kick-off times for all the remaining
                      matches.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-27 15:52:06"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="te-toiroa-tahuriorangi-joins-crusaders-roster-for-2022-season.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1315619742__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 43%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Te Toiroa Tahuriorangi joins Crusaders roster for 2022
                      season</div>
                    <div class="description">Former Chiefs halfback, Te Toiroa Tahuriorangi, is
                      set to join the Crusaders next season, having signed with the club for
                      their 2022 Super Rugby campaign. </div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-27 12:59:42"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="all-blacks-embark-on-a-tour-like-no-other.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1333302215-v2__ScaleHeightWzI2MF0.jpg);
                                       background-position: 47% 40%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">All Blacks embark on a tour like no other</div>
                    <div class="description">Embarking on what he described as a tour like no
                      other in the professional era, reappointed All Blacks coach Ian Foster
                      has four or five months on a logistical tightrope ahead of him while
                      steering the All Blacks through a rigorous campaign of 10 Tests in 12
                      weeks.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-27 11:47:12"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="change-at-the-helm-for-black-ferns-sevens.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/2O9A4365__ScaleHeightWzI2MF0.jpg);
                                       background-position: 56% 40%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Change at the helm for Black Ferns Sevens</div>
                    <div class="description">After 10 years involved in the Black Ferns Sevens
                      programme, the gold-medal winning Olympic campaign will be the last for
                      Co-Coach Allan Bunting who is stepping down from his role.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-27 11:05:02"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="details-confirmed-for-third-australia-test-in-perth.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/Ardie-Sanzaar__ScaleHeightWzI2MF0.jpg);
                                       background-position: 53% 25%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Details confirmed for third Australia Test in Perth</div>
                    <div class="description">SANZAAR has confirmed that the second-round match
                      of the Fortinet Rugby Championship (TRC) between Australia and the All
                      Blacks has been rescheduled for 2pm AWST (6pm NZT) on Sunday 5 September
                      at Optus Stadium, Perth, Western Australia. </div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-26 19:13:33"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="all-blacks-squad-ready-for-mammoth-tour.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1334060767__ScaleHeightWzI2MF0.jpg);
                                       background-position: 42% 35%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">All Blacks squad ready for mammoth tour</div>
                    <div class="description">The All Blacks squad has assembled in Auckland
                      today to fly to Australia for the Fortinet Rugby Championship and then
                      onto the Northern Tour to the USA and Europe.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-26 14:45:03"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="james-lowe-back-in-action.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1302108168__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 41%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">James Lowe back in action </div>
                    <div class="description">Former Tasman and Chiefs wing James Lowe has
                      recovered from the hamstring injury that ended his last season
                      prematurely and looking forward to getting back into action with his
                      Leinster club.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-26 10:02:26"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="sanzaar-alliance-remains-strong-alexander.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-874531104__ScaleHeightWzI2MF0.jpg);
                                       background-position: 43% 41%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">SANZAAR alliance remains strong - Alexander</div>
                    <div class="description">South Africa's rugby boss Mark Alexander has poured
                      cold water on suggestions there was a rift in the Sanzaar rugby
                      alliance.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-26 09:52:54"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="weber-puts-pen-to-paper-recommits-with-nzr-and-gallagher-chiefs-through-to-2023.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1332208426__ScaleHeightWzI2MF0.jpg);
                                       background-position: 51% 59%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Brad Weber puts pen to paper</div>
                    <div class="description">All Blacks and Gallagher Chiefs halfback Brad Weber
                      has recommitted to New Zealand Rugby (NZR) and his Super Rugby team,
                      putting pen to paper through to the end of 2023.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-26 08:10:03"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="what-weve-seen-so-far-in-the-farah-palmer-cup.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1334224387__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 37%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">What we’ve seen so far in the Farah Palmer Cup</div>
                    <div class="description">Before Covid-19 snuck its way back into Aotearoa,
                      the Farah Palmer Cup had one more full regular season round to go ahead
                      of the finals. </div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-25 13:06:17"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="carter-offers-special-gift-to-rising-welsh-star-rees-zammit.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-495236642-v2__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 36%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Carter offers special gift to rising Welsh star
                      Rees-Zammit </div>
                    <div class="description">All Blacks legend Dan Carter has provided an
                      unexpected bonus for an emerging world rugby star, Wales first
                      five-eighths Louis Rees-Zammit.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-25 10:32:53"></time>
                  </p>
                </div>
              </a>
            </div> -->

            <!-- <div class="news-wrapper slide">
              <a href="fortinet-rugby-championship-to-be-played-in-queensland.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1334063480__ScaleHeightWzI2MF0.jpg);
                                       background-position: 46% 55%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Fortinet Rugby Championship to be played in Queensland
                    </div>
                    <div class="description">SANZAAR today confirmed major changes to The Rugby
                      Championship (TRC) match schedule. This is in response to the ongoing
                      impact of the pandemic and the subsequent tightening of regulations
                      placed on travel and quarantine by various state and national
                      governments due to the latest outbreaks of COVID-19 in Australia and New
                      Zealand. </div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-24 13:50:25"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="ian-foster-reappointed-as-all-blacks-head-coach.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1326412893__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 31%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Ian Foster reappointed as All Blacks Head Coach</div>
                    <div class="description">All Blacks Head Coach Ian Foster has been
                      reappointed through to the end of the 2023 Rugby World Cup, New Zealand
                      Rugby (NZR) has announced.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-24 12:09:47"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="expectations-rise-for-world-champion-springboks.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1185012020__ScaleHeightWzI2MF0.jpg);
                                       background-position: 75% 43%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Expectations rise for world champion Springboks</div>
                    <div class="description">Success has consequences, and South Africa's world
                      champion Springboks are learning that expectations of improvement
                      performance rise as wins become more commonplace.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-24 10:27:04"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="springboks-add-firepower-for-remainder-of-the-fortinet-rugby-championship.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1331749996__ScaleHeightWzI2MF0.jpg);
                                       background-position: 50% 50%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Springboks add firepower for remainder of the Fortinet
                      Rugby Championship</div>
                    <div class="description">South Africa will head to Brisbane for the
                      remainder of The Rugby Championship bolstered by the return of halfbacks
                      Faf de Klerk, Herschel Jantjies and Cobus Reinach.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-24 10:08:25"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="all-rugby-postponed-or-cancelled-this-weekend-following-latest-covid-update.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1334061330__ScaleHeightWzI2MF0.jpg);
                                       background-position: 48% 53%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">All rugby postponed or cancelled this weekend, following
                      latest COVID update</div>
                    <div class="description">Bunnings Warehouse NPC, Farah Palmer Cup (FPC) and
                      Heartland Championship matches, as well as all community and school
                      rugby this weekend has once again, been cancelled or postponed due to
                      COVID-19 restrictions, New Zealand Rugby (NZR) has announced. </div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-24 09:33:06"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="remembering-the-1996-incomparables.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(/assets/Uploads/GettyImages-1529029-v2__ScaleHeightWzI2MF0.jpg);
                                       background-position: 48% 30%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Remembering the 1996 ‘Incomparables’</div>
                    <div class="description">'Discipline, character, desire and pride' were the
                      qualities that ended the All Blacks' longest drought – their inability
                      to win a series on South African soil – 25 years ago in 1996.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-23 16:16:04"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="maitland-sets-sight-on-scotland-recall.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(../../../../assets/images/GettyImages-1304146421__ScaleHeightWzI2MF0.jpeg);
                                       background-position: 42% 23%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">Maitland sets sight on Scotland recall</div>
                    <div class="description">Former Crusaders, Canterbury and Maori All Black
                      wing Sean Maitland is keen to regain a place with Scotland in Test rugby
                      this year.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-23 12:02:59"></time>
                  </p>
                </div>
              </a>
            </div>

            <div class="news-wrapper slide">
              <a href="were-the-best-at-what-we-do-mallett.html">
                <div class="news-component" data-cy="news-component">
                  <div class="img" style="background-image:url(../../../../assets/images/GettyImages-1234794313__ScaleHeightWzI2MF0.jpg);
                                       background-position: 52% 41%;
                                       background-size: cover;">
                  </div>
                  <div class="news-description">

                    <div class="title">“We’re the best at what we do” - Mallett</div>
                    <div class="description">Former Springboks coach Nick Mallett says South
                      Africa are better than the All Blacks in many key areas of rugby.</div>
                  </div>

                  <p class="time time-ago mt-auto">
                    <time moment datetime="2021-08-23 10:56:12"></time>
                  </p>
                </div>
              </a>
            </div> -->

          </div>
        </div>
      </div>
    </section>



  </div>


  <div class="element dnadesign__elemental__models__elementcontent" id="e590">
    <div class="content-element__content">

      <div style="display: flex; justify-content: center;"><a
          title="The new All Blacks jersey range is now available. Click here to view" rel="noopener"
          href="https://allblackshop.com/ranges/players-range/?utm_source=TEAMAB&amp;utm_medium=banner&amp;utm_campaign=New-Jersey&amp;utm_id=AllBlacks.com-NewJersey&amp;utm_content=TEAMAB"
          target="_blank"><img
            src="../../../../assets/images/Banners-AB-Generic-New-Jersey2__ResizedImageWzYwMCw4NF0.jpg"
            alt="The new All Blacks jersey range is now available. Click here to view" width="600" height="84"
            class="center ss-htmleditorfield-file image"
            title="The new All Blacks jersey range is now available. Click here to view"></a></div>
    </div>

  </div>


  <div class="element propellerhead__rugby__elements__promobladelist" id="e66">
    <div id="promo-blade-block" class="section row">
      <div class="wrapper">
        <div class="head">

          <h4 class="block-title">Competitions</h4>

        </div>


        <div class="logos-list">

          <div class="logo show-promo-item ">
            <a href="https://www.provincial.rugby/provincial-rugbynewsyear/" target="_blank"><img
                src="../../../../assets/images/Uploads-Bunnings-Warehouse-NPC-v2__ScaleHeightWzEyMF0.png" alt="title"
                height="120"></a>
          </div>

          <div class="logo show-promo-item ">
            <a href="https://www.provincial.rugby/farah-palmer-cup/" target="_blank"><img
                src="../../../../assets/images/Uploads-Bunnings-Warehouse-FPC-v4__ScaleHeightWzEyMF0.png" alt="title"
                height="120"></a>
          </div>

          <div class="logo show-promo-item ">
            <a href="https://www.provincial.rugby/heartland-championship/" target="_blank"><img
                src="i../../../../assets/images/Uploads-Bunnings-Warehouse-Heartland-Championship-v2__ScaleHeightWzEyMF0.png"
                alt="title" height="120"></a>
          </div>

          <div class="logo show-promo-item ">
            <a href="https://www.provincial.rugby/bunnings-warehouse-super-rugby-aotearoa-under-20s/"
              target="_blank"><img src="../../../../assets/images/Uploads-SRAU20-02-v2__ScaleHeightWzEyMF0.png"
                alt="title" height="120"></a>
          </div>

          <div class="logo show-promo-item ">
            <a href="http://www.superrugby.co.nz/" target="_blank"><img
                src="../../../../assets/images/Uploads-SKY-SuperRugbyAotearoa-Negative__ScaleHeightWzEyMF0.png"
                alt="title" height="120"></a>
          </div>

        </div>

      </div>
    </div>

  </div>


  <div class="element propellerhead__rugby__elements__cardcontainer" id="e119">
    <div class="card-container-section section row">
      <div class="wrapper">
        <div class="head">

          <h4>Offers</h4>

        </div>
        <div class="card-container-block">

          <div class="content-card-list w-240">

            <div class="content-card-item content-card-item-3">

              <a href="https://allblackstours.com/">

                <div class="content-card-image">
                  <img src="../../../../assets/images/Uploads-Shop__FocusFillWzUxMCwyODAsInkiLDNd.jpg" alt="Shop">

                </div>
                <div class="content-card-title">
                  All Blacks Tours
                </div>
                <div class="content-card-body">
                  <p>Official Travel Provider for New Zealand Rugby and the All Blacks.</p>...
                </div>


              </a>

            </div>

            <div class="content-card-item content-card-item-3">

              <a href="https://www.allblackshop.com/">

                <div class="content-card-image">
                  <img src="../../../../assets/images/Uploads-Shop2__FocusFillWzUxMCwyODAsIngiLDIzXQ.jpg" alt="Shop2">

                </div>
                <div class="content-card-title">
                  All Blacks Shop
                </div>
                <div class="content-card-body">
                  <p>Grab all your latest gear from the official All Blacks Store</p>...
                </div>


              </a>

            </div>

            <div class="content-card-item content-card-item-3">

              <a href="tab.html">

                <div class="content-card-image">
                  <img src="../../../../assets/images/Uploads-Tabs__FocusFillWzUxMCwyODAsInkiLDUzXQ.png" alt="Tabs">

                </div>
                <div class="content-card-title">
                  Team All Blacks
                </div>
                <div class="content-card-body">
                  <p>Sign up to Team All Blacks and get access to exclusive offers and content</p>
                  ...
                </div>


              </a>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="element propellerhead__rugby__elements__calltoactionblock" id="e35">
    <section class="image-text section row">
      <div class="wrapper">

        <div class="img-col left-col">
          <div class="img"
            style="background-image: url('https://www.allblacks.com/assets/Uploads/GettyImages-1327958126__FocusFillWzgwMCw1MDAsInkiLDBd.jpg')"
            title="GettyImages 1327958126"></div>
        </div>

        <div class="info-col right-col">
          <div class="info info-with-image ">
            <h2>The Haka</h2>
            <div class="time">Origins and History of the Haka</div>
            <div class="blurb">For most non-Maori New Zealanders today their knowledge of the Haka is
              perhaps limited to that most performed of Haka called "Ka mate, Ka mate", which was
              composed by Ngati Toa Chieftain Te Rauparaha around 1820. Many sports teams and
              individuals travelling from New Zealand overseas tend to have the haka "Ka mate" as part
              of their programme.</div>
            <div class="actions">
              <a href="the-haka.html" class="btn btn-lg btn-outline-dark">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<div class="element propellerhead__rugby__elements__promobladelist" id="e547">
  <div id="promo-blade-block" class="section row">
    <div class="wrapper">
      <div class="head">
        <h4 class="block-title">New Promo Blade List</h4>
      </div>
    </div>
  </div>
</div>